body {
    background-color: #f6f6f6;
  }
  * {
    color: rgb(0, 0, 0);
  }
  .bar {
    width: 50%;
    height: auto;
  }
  
  .buttons button {
    background-color: #000020;
    color: #FFFF00;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .buttons button:hover {
    background-color: #292828;
    color: #FFFFFF;
  }
  
  .buttons button:disabled {
    background-color: #434242;
    color: #AAAAAA;
    cursor: not-allowed;
  }